/.vscode
/Chatistics
/playground
/gpt-2
/generator/generator

server/generator/models/

server/generator/data/

server/server

notes\.md

server/generator/generator/

server/generator/samples/

server/generator/checkpoint/run1/model-322\.data-00000-of-00001

server/generator/checkpoint/run1/model-322\.index

server/generator/checkpoint/run1/model-322\.meta

server/generator/checkpoint/run1/model-39\.data-00000-of-00001

server/generator/checkpoint/run1/model-39\.index

server/generator/checkpoint/run1/model-39\.meta

server/generator/checkpoint/run1/model-6\.data-00000-of-00001

server/generator/checkpoint/run1/model-6\.index

server/generator/checkpoint/run1/model-6\.meta

server/generator/checkpoint/run1/model-94\.data-00000-of-00001

server/generator/checkpoint/run1/model-94\.index

server/generator/checkpoint/run1/model-94\.meta
